# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\zz3\SuperMarketPricing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
